@charset "UTF-8";

/*Todas as demais mídias*/



/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media print { /*IMPRESSÃO*/
   
    
}


@media screen and (min-width:768px) and (max-width:992px){ /*TABLET*/
}




@media screen and (min-width:992px) and (max-width:1200px) { /*DESKTOP*/
    
}

@media screen and (min-width:1200px) { /*GRANDES TELAS*/
    body{
      background-color: #1a284d;
    }
    
    #botao{
        display:none;
        }
        #cabeçalho{
            display: flex;
            justify-content: space-around;
            padding: 20px;
            
        }

        #cabeçalho h1{
            font-size: 2.3em;
        }


        #item a{
            font-weight: bolder;
         }
         
        #principal{
            
            width: 100vw;
        }
       
        #item{
            padding-top: 20px;
            display: inline;
        }

        #item li{
            display: inline;
        }

        .img{
            width: 300px;
            height: 300px;
        }
}