@charset "UTF-8";



:root{
    --cor-red:rgba(139, 0, 0, 0.884);
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
 background-color: azure;
    
}



#cabeçalho{
    
    display: block;
    margin: auto;
    text-align: center;
    color:var(--cor-red);
    background-color: azure;
    border-bottom: 1px solid darkred;
    
}

#cabeçalho h1{
padding-top: 10px;
}



#botao{
   
    display: block;
    cursor: pointer;
   margin-bottom: 1px;
}

span#botao:hover{
background-color: var(--cor-red);
color: white;
}

#item{
    display: none;
   
    
}

#item li{
   display: block;
   border-radius: 5px;
   padding: 7px;
    background-color: var(--cor-red);;
    margin-bottom: 1px;
}
#item a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#item a:hover{
    color: rgb(88, 2, 2);
}


.img{
    background: url('../imagens/foto-minha-removebg.png') no-repeat;
    background-size: cover;
    width: 200px;
    height: 180px;
    margin: auto;
}

#principal{
    display: flex;
    align-items: center;
    background-color: azure;
    margin: auto;
    height: auto;
    padding: 5px;
    width: 100vw;
    height: 60vh;
    padding-top: 150px;
 }

 .principal-texto{
    margin: auto;
    max-width: 250px;
    
 }
 

 .botoes{
    
    padding-top: 10px;
    display: flex;
    gap: 20px;
}



 .botoes a{
    display: flex;
    color: black;
   gap: 10px;
    text-decoration: none;
    border-radius: 5px;
 }

 .botoes-um{
    border: 2px solid rgba(55, 174, 230, 0.911);
    padding: 6px 15px;
 }

 .botoes-um:hover{
    background-color:rgba(55, 174, 230, 0.911) ;
    color: black;
    text-decoration: underline;
    
 }
 
 .botoes-dois{
    border: 2px solid rgba(213, 45, 247, 0.911);
    padding: 6px 20px;
    

 }

 .botoes-dois:hover{
    color: black;
    background-color: rgba(213, 45, 247, 0.911);
    text-decoration: underline;
 }


 .img-botao{
    
    background:url('../imagens/linkedin-icone-main.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;

 }

 .img-botao-dois{
    background:url('../imagens/github-icon.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;

 }