@charset "UTF-8";



:root{
    
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.842),rgb(49, 49, 49) );
   
}



#cabeçalho{
   
    display: block;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
    
}

#cabeçalho h1{
padding-top: 10px;
color: white;
}



#botao{
   
    display: block;
    cursor: pointer;
   margin-bottom: 1px;
}

span#botao:hover{
background-color: rgba(0, 139, 139, 0.76);
color: rgb(255, 255, 255);
}

#item{
    display: none;
   
    
}

#item li{
   font-size: 16px;
   display: block;
   border-radius: 5px;
   padding: 7px;
    
    margin-bottom: 1px;
}
#item a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

#item a:hover{
   color:black;
}


.img{
    background: url('../imagens/foto-minha-removebg.png') no-repeat;
    background-size: cover;
    width: 200px;
    height: 180px;
    margin: auto;
}

#principal{
    display: flex;
    align-items: center;
    margin: auto;
    height: auto;
    padding: 5px;
    width: 100vw;
    height: 60vh;
    padding-top: 150px;
 }

 .principal-texto{
   color: white;
    margin: auto;
    max-width: 350px;
    
 }


 .principal-texto P{
   font-size: 17px;
 }
 
span{
  color:var(--cor-red);
 }

 .botoes{
    
    padding-top: 10px;
    display: flex;
    gap: 20px;
}



 .botoes a{
    display: flex;
    color: white;
   gap: 10px;
    text-decoration: none;
    border-radius: 5px;
 }

 .botoes-um{
    border: 2px solid rgba(55, 174, 230, 0.911);
    padding: 6px 15px;
    
 }

 .botoes-um:hover{
    background-color:rgba(55, 174, 230, 0.911) ;
    color: white;
    text-decoration: underline;
    
 }
 
 .botoes-dois{
    border: 2px solid rgba(213, 45, 247, 0.911);
    padding: 6px 20px;
    

 }

 .botoes-dois:hover{
    
    color: white;
    background-color: rgba(213, 45, 247, 0.911);
    text-decoration: underline;
 }


 .img-botao{
    
    background:url('../imagens/linkedin-icone-main.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;

 }

 .img-botao-dois{
    background:url('../imagens/github-icon.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: auto;

 }